{{#extend "layout"}}

    {{#append "body"}}
        <div class="blocks">
            <div class="comment">{{path}}</div>
            {{#each ast.blocks}}
                {{{partial type ext=../../ext}}}
            {{/each}}
        </div>
    {{/append}}

{{/extend}}
