<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
    <title>{{title}}</title>
</head>
<body>
    <div class="site">
        <div class="site-hd">
            {{#block "header"}}
            {{/block}}
        </div>

        <div class="site-bd">
            {{#block "body"}}
            {{/block}}
        </div>

        <div class="site-ft">
            {{#block "footer"}}
            {{/block}}
        </div>
    </div>
</body>
</html>
